@import '../../../../style/theme.scss';

.instructions {

  border-radius: $medium-radius;
  border: 5px solid $primary-highlight-color;
  padding: 1rem 2rem;
  font-size: 125%;

  ol {
    margin-left: 2rem;
  }

  strong {
    font-size: $small-font;
  }

  details {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: initial;
    }
  }

  summary {
    cursor: pointer;

    &:hover {
      color: $hover-color;
    }
  }

  > h2 > span {
    color: $primary-highlight-color;
    margin-left: 0.5rem;
  }
}
