@import '../../../style/theme.scss';

.home {

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $primary-color;

  .anchor {
    color: $text-color;
  }

  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  height: 100%;

  padding: 3rem 2rem;

  > * {
    z-index: 0;
    margin-bottom: 1rem;
  }

  &__banner-heading {
    font-size: $xl-font;
  }

  &__start-today {
    @include primary-button;
    padding: 1rem 1rem;
  }

  &__try {
    @include card-styling;
    margin-bottom: 2.5rem;

    svg {
      color: $primary-highlight-color;
    }

    a {
      text-decoration: revert;
    }
  }

  &__banner-text, &__main-content {
    @include grid-list(1fr);
    @include wysiwyg-content;
  }

  &__banner-questions {
    @include grid-list(repeat(3, 1fr));
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column dense;
    margin-bottom: 1rem;
  }

  &__banner-image {
    width: 80%;
    display: block;
    margin: 0 auto;
    align-self: center;
  }

  .subscribe__products {
    margin-top: 1rem;
  }

  .subscribe__institutional {
    @include secondary-card(false);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: $medium-font;
    }
    img {
      height: 130px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include breakpoint($lg) {
    &__banner-wrapper {
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem 0 3rem;
    }
  }

  @include breakpoint($md) {
    &__banner-wrapper {
      padding: 2rem 3rem 0 3rem;
    }

    .subscribe__institutional {
      width: 100%;
    }
  }

  @include breakpoint($sm) {
    &__banner-wrapper {
      padding: 2rem 1rem 0 1rem;
    }
  }
}
