@import '../../../../style/theme.scss';

.group-list {
  padding: 1rem;
  display: grid;
  row-gap: 1rem;

  &__list {
    @include grid-list(1fr 1fr);
  }

  @include breakpoint($md) {
    &__list { 
    @include grid-list(1fr);
    }
  }
}
