@import '../../../style/theme.scss';

.subscription-page {
  &__wrapper {
    @include admin-wrapper;
  }

  &__heading {
    font-size: $large-font;
  }

  &__unverified {
    color: $primary-highlight-color;
  }

  .how.register {
    @include grid-list(1.75fr 1fr);
    @include breakpoint($md) {
      @include grid-list(1fr);
    }
  }

  ul {
    margin-left: 1rem;
  }

  li {
    @include colored-bullets;
  }
}
