@import '../../../style/theme.scss';

.subscription-page {
  &__wrapper {
    @include admin-wrapper;
  }

  &__heading {
    font-size: $large-font;
  }

  &__unverified, &__subscribed {
    border-radius: $medium-radius;
    border: 5px solid $primary-highlight-color;
    padding: 1rem 2rem;
    justify-self: center;

    span {
      color: $primary-highlight-color;
      margin-right: 0.5rem;
    }
  }

  &__subscribed {
    border: 5px solid $accent-color;
    span {
      color: $accent-color;
    }
  }

  &__instructions, &__register {
    margin-top: 1.5rem;

    @include breakpoint($md) {
      @include grid-list(1fr);
    }
  }

  &__register {
    @include grid-list(1.75fr 1fr);
  }

  ul {
    margin-left: 1rem;
  }

  li {
    @include colored-bullets;
  }
}
