@import '../../../style/theme.scss';

.subscription-page {
  &__wrapper {
    @include admin-wrapper;
  }

  &__heading {
    font-size: $large-font;
  }

  &__unverified, &__subscribed {
    border-radius: $medium-radius;
    border: 5px solid $primary-highlight-color;
    padding: 1rem 2rem;
    justify-self: center;

    span {
      color: $primary-highlight-color;
      margin-right: 0.5rem;
    }
  }

  &__subscribed {
    border: 5px solid $accent-color;
    span {
      color: $accent-color;
    }
  }

  &__actions {
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
    // margin: 0.7rem 0;

    :first-child {
      flex-grow: 1;
    }

    :nth-child(2) {
      min-width: 36%;
    }

    @include breakpoint($lg) {
      flex-direction: column;
      > :nth-child(2) {
        margin-top: 1rem;
      }
    }
  }

  ul {
    margin-left: 1rem;
  }

  li {
    @include colored-bullets;
  }
}
