@import '../../../../style/theme.scss';

.home-content-container {

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $primary-color;

  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  height: 100%;

  padding: 3rem 2rem;

  > * {
    z-index: 0;
    margin-bottom: 1rem;
  }

  h2 ~ h4 {
    margin-top: -0.5rem;
  }

  &__banner-heading {
    font-size: $xl-font;
  }

  &__start-today {
    @include primary-button;
    padding: 1rem 1rem;
    margin-bottom: 2.5rem;
  }

  &__banner-text, &__main-content {
    @include grid-list(1fr);
    @include wysiwyg-content;
  }

  &__banner-questions {
    @include grid-list(repeat(3, 1fr));
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column dense;
    margin-bottom: 1rem;
  }

  &__banner-image {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  @include breakpoint($lg) {
    &__banner-wrapper {
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem 0 3rem;
    }
  }

  @include breakpoint($md) {
    &__banner-wrapper {
      padding: 2rem 3rem 0 3rem;
    }
  }

  @include breakpoint($sm) {
    &__banner-wrapper {
      padding: 2rem 1rem 0 1rem;
    }
  }
}
