@import '../../../../style/theme.scss';

.subscription {
  @include card-styling;
  @include center-container(1100px);
  @include grid-list(1fr);
  padding: 2rem;

  &__unverified {
    color: $primary-highlight-color;
  }

  &__product-container {
    @include grid-list(1fr 1fr);
  }

  &__spinner {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: auto 0.5rem auto 1rem;
    @include spinner(5px, $primary-color, 1s);
  }

  &__subscribe {
    @include primary-button;
  }

  &__col {
    @include secondary-card;
    @include grid-list(1fr);
  }
}
